body{
    font-size: 22px;
}

input[type="text"]{
    margin: 10px 0;
    display: block;
}

[v-cloak ]{
    display: none;
}

.cirlcle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(130, 206, 17);
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transform: rotate(0deg);

}



.purpule{
    background-color: purple;
}

.text_black{
    color: black;
}
.text_orange{
    color: orange;
}